body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.card{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);
    width: 700px;
    height: 450px;
    position: absolute;
    inset: 0;
    margin:auto;
}
input{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px 10px;
    background-color: #eee;
    border: none;
    width: 70%;
    margin-bottom: 25px;
}
button{
    font-family: 'Times New Roman', Times, serif;
    background-color: #092956;
    border:none;
    padding: 10px 15px;
    color: #ffffffff;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 25px;
}
.form{
    background-color: white;
}
.info{
    background-color: #092956;
    color: #EEEEE8;
}
.info ul{
    padding: 0 15px;
}
.info ul li{
    list-style: none;
}   
#resultado p{
    color: #9500F1;
    font-size: 24px;
    font-weight: bolder;
}

.medida{
    color: #949BA0;
}

.posicion{
    width: 50%;
    height: 100%;
    float: left;
}
section{
    top:50%;
    position: relative;
    transform: translateY(-50%);
    overflow: hidden;
}
